name: macos

on:
  push:
    branches:
      - master
      - github_actions
    tags:
      - '*'
  pull_request:
    branches:
      - master
      - github_actions

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7]
        examples:
          - "QIO/examples/arduino-blink"
          - "QIO/examples/arduino-internal-libs"
          - "QIO/examples/native-blink"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
          fetch-depth: 1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/OS-Q/S03/archive/master.zip
          qio platform install file://.

      - name: Build
        run: |
          qio run -d ${{ matrix.examples }}

      - name: upload
      - uses: actions/upload-artifact@v2
        with:
          name: windows-upload
          path: QIO/

      - uses: actions/upload-artifact@v2
        with:
          name: macos-build-P11
          path: ${{ matrix.examples }}/build
